.cover__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: relative;
  z-index: 1;
  background-size: cover;
  color: white;
}
.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: -1;
  transition: 0.5s linear;
}

.cover__link:hover::after {
  opacity: 0.8;
  transition: 0.5s linear;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 620px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    min-height: 200px;
  }
}
