.header {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  max-height: 52px;
  margin: 0px 48px;
  padding-top: 28px;
  
}
@media screen and (max-width: 1280px) {
  .header {
    max-width: 1184px;
    
    
  }
}
@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    max-height: 52px;
  }
}


@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    max-height: 52px;
    top: 28px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 224px;
    max-height: 44px;
    padding-top: 16px;
  }
}
