.header {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  max-height: 52px;
  margin: 0px 48px;
  padding-top: 28px;
  
}
@media screen and (max-width: 1279px) {
  .header {
    max-width: 92.5vw;
    left: 48px;
    
  }
}
@media screen and (max-width: 1023px) {
  .header {
    max-width: 70.3vh;
    max-height: 52px;
  }
}


@media screen and (max-width: 767px) {
  .header {
    max-width: 93.7vh;
    max-height: 52px;
    top: 28;
  }
}
@media screen and (max-width: 319px) {
  .header {
    max-width: 90vh;
    max-height: 52px;
    top: 28;
  }
}
