.place__website {
  align-self: end;
  justify-self: start;
  grid-row: 1;
  grid-column: 2;
}

@media screen and (max-width: 767px) {
  .place__website {
    max-width: 288px;
    max-height: 46px;
    font-size: 18px;
    line-height: 1.2;
  }
}
